.order__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .border__normal {
    border: 1px solid #e4e1e1;
  }

  .border__cooked {
    border: 1px solid #040273;
    
  }

  .border__driver__recieved {
    border: 1px solid #945906;
  }

  .border__delivered {
    border: 1px solid #109132;
  }

  .border__cancelled {
    border: 1px solid #7d1606;
  }

  .cust__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .order__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 500;
  }

  .order__time {
    font-weight: 100;
    font-size: small;
  }

  .food__item{
    font-weight: 600;

  }

  .status__cooked {
    color: #040273;
    
  }

  .status__driver__recieved {
    color: #945906;
  }

  .status__delivered {
    color: #109132;
  }

  .status__cancelled {
    color: #7d1606;
  }