.container {
  display: flex;
  height: 100vh;
}

.title__container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25%;
}

.orders__container {
  flex: 3;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 75%;
}

.title {
  font-size: 24px;
  font-weight: bold;
}